*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

.header{
  height: 10vh;
  width: 100%;
  padding: 10px 50px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input{
  border: none;
  padding: 10px;
  border-radius: 5px;
} 

.image-cont{
  height: 80vh;
}

.add-cont{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: blue;
}

#imageURL{
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 50%;
}

#img-name{
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.add-cont button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.image-render-cont{
  padding: 20px 50px;
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;

}

.image-render-cont img{
  border-radius: 10px;
}